* {
	margin: 0;
	padding: 0;
}
body {
	font: 16px Georgia, Serif;
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0;
}

html,

.mainSection{
}
button {

}

li {
	position: relative;
	border-bottom: 1px dotted #ccc;
}

li:last-child {
	border-bottom: none;
}

li.editing {
	border-bottom: none;
	padding: 0;
}

li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}
tr.editing .view {
	display: none;
}
li.editing .view {
	display: none;
}
div.editing .view {
	display: none;
}
.view{

}
/*
.Table
{
	display: table;   	width: 100%;
	//overflow: hidden;
}

.Heading
{
  	display: table-header-group;   	background-color: #ddd;
}
.Row
{
	display: table-row;
	//overflow: hidden;
}
.Cell
{
  	display: table-cell;   	padding: 1px 3px;   	border: 1px solid #999999;
		//width:30px; max-width: 30px;
		//overflow: hidden;
		       /* for IE as it does not support min-height */
}
*/
@media (min-width: 899px) {
	.learn-bar {
		width: auto;
		margin: 0 0 0 300px;
	}

	.learn-bar > .learn {
		left: 8px;
	}

	.learn-bar #todoapp {
		width: 550px;
		margin: 130px auto 40px auto;
	}
}
